/* #department {

  width: 100%;
  padding-top: 55px;
  background-color: blue;
} */

.filter {
  z-index: 999;
  padding-left: 10px;
  /* background-color: cyan; */
  display: flex;
  /* margin-top: 55px; */
  justify-content: flex-start;
}

.search {
  padding-right: 1em;
}

/* #research {
    z-index: 999;
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-top: 55px;
} */

.clear {
  clear: both;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

#result {
  position: fixed;
  top: 115px;
  /* same height as navbar */
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

