button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
#box {
    width: 60%;
    margin-top: 3%;
    margin-left: 10%;
}